<style>
    .typeahead-demo .custom-popup-wrapper {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        background-color: #f9f9f9;
    }
</style>
<script type="text/ng-template" id="customTemplate.html">
    <a href="javascript:;" ng-bind-html="match.label | uibTypeaheadHighlight:query"></a>
</script>
<div class="wrapper wrapper-content animated fadeIn">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Nuevos Pedidos</h1>
                </div>
            </div>
        </div>
        <div class="ibox-content" style="border-top:0 ">

            <div class="row">
                <div class="col-lg-10">
                    <ul style="margin:0;padding: 0">
                       
                        <li style="padding: 0;margin: 0;" ng-repeat="cliente in vm.clientes track by $index"
                            ng-mouseover="vm.selectPedido(cliente.cliente)">
                            <table style="width:100%">
                                <tr>
                                     <td width="3%">#{{$index+1}}</td>
                                    <td>
                                    <button ng-click="vm.removePedido($index)"
                                            class="btn btn-danger  dim"
                                            type="button"><i
                                            class="fa fa-close"></i>
                                    </button>
                                </td>
                                   
                                    <td style="width:15%">
                                         <div>
                                    <label>
                                        <input ng-value="'particular'" ng-checked="cliente.cliente.tipo == 'particular'"
                                               type="radio" name="tipoCliente" ng-model="cliente.cliente.tipo" required>
                                        Particular
                                    </label>
                                </div>
                                <div>
                                    <label>
                                        <input ng-value="'empresa'" ng-checked="cliente.cliente.tipo != 'particular'"
                                               type="radio" name="tipoCliente" ng-model="cliente.cliente.tipo" required>
                                        Empresa
                                    </label>
                                </div>
                                    </td>
                                    <td  width="10%">
                                         <input ng-min="0" value="{{cliente.cliente.telefono }}" type="number"
                                       placeholder="Telefono" id="exampleInputEmail2" class="form-control"
                                       style="margin-top:3px;" ng-model="cliente.cliente.telefono" required>
                                    </td>
                                    <td  width="10%">
                                         <input value="{{cliente.cliente.nombre}}" type="text" placeholder="Nombres"
                                       id="exampleInputEmail2"
                                       class="form-control"
                                       ng-model="cliente.cliente.nombre" style="margin-top:3px;" required>
                                    </td>
                                    <td width="15%">
                                       
                                <div class="input-group" style="margin-top: 5px">
                                    <input class="form-control" style="margin-top: 3px" type="text"
                                           ng-model="cliente.direccion_origen"
                                           placeholder="Origen"
                                           uib-typeahead="direccion for direccion in vm.dorigens | filter:$viewValue"
                                           typeahead-template-url="customTemplate.html"
                                           typeahead-show-hint="true" typeahead-min-length="0"
                                           ng-init="vm.cargarDireccionesOrigen(cliente.cliente.id, 'origen')" required>

                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-primary" style="margin-top: 3px">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                                    </td>
                                    <td width="15%">
                                         <div class="input-group" style="margin-top: 5px">
                                    <input style="margin-top: 3px" type="text" ng-model="cliente.direccion_destino"
                                           placeholder="Destino"
                                           uib-typeahead="direccion for direccion in vm.ddestinos | filter:$viewValue"
                                           typeahead-template-url="customTemplate.html" class="form-control"
                                           typeahead-show-hint="true" typeahead-min-length="0"
                                           ng-init="vm.cargarDireccionesDestino(cliente.cliente.id, 'destino')"
                                           required>

                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-primary" style="margin-top: 3px">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                                    </td>
                                    <td  width="15%">
                                        <div style="margin-top: 20px;">
                                        <select class="form-control m-b" name="account" ng-model="cliente.tipo" required>
                                        <option value="" disabled>Selecciona el tipo del servicio</option>
                                        <option value="1">Comida rapida ida y vuelta</option>
                                        <option value="2">Acompanamiento de consignacion bancaria</option>
                                        <option value="3">Pago de factura en banco</option>
                                    </select>
                                        </div>
                                    </td> 
                                    <td  width="10%">
                                        <input type="text"
                                       placeholder="Descripcion" class="form-control"
                                       style="margin-top:6px;" ng-model="cliente.descripcion" required>
                                    </td>
                                    <td>
                                        <button ng-disabled="pedidoForm.$invalid" ng-click="vm.guardarPedido($index)"
                                            class="btn btn-danger  dim"
                                            style="margin-top:15px;margin-left:5px; text-align: center" type="submit"><i
                                            class="fa fa-check"></i>
                                    </button>
                                    </td>
                                </tr>
                            </table>
                        </li>
                      
                   
                    </ul>
                </div>
                <div class="col-lg-2">
                    <h4>Mensajeros Disponibles</h4>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Nombre</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="mensajero in vm.mensajeros | orderBy : 'nombre'">
                            <td></td>
                            <td>{{mensajero.nombre}}</td>
                            <th><a href="javascript:;" ng-click="vm.selectMensajero(mensajero)">S</a></th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="col-lg-3">
 <div class="ibox float-e-margins">
         <div class="ibox-title radio-title">
             <div class="row">
                 <div class="col-lg-12">
                     <h3>Mensajeros</h3>
                 </div>
              </div>
         </div>
         <div class="ibox-content radio-body" style="border-top:0 ">
             <div class="row">
                 <ul class="sortable-list connectList agile-list ui-sortable" id="inprogress">
                             <li class="success-element">
                                 Nombre Mensajero
                                     <span class="label label-success pull-right">Estado</span>

                             </li>
                             <li class="success-element">
                                 Nombre Mensajero
                                     <span class="label label-success pull-right">Estado</span>

                             </li>
                             <li class="success-element">
                                 Nombre Mensajero
                                     <span class="label label-success pull-right">Estado</span>

                             </li>
                             <li class="success-element">
                                 Nombre Mensajero
                                     <span class="label label-success pull-right">Estado</span>

                             </li>
                             <li class="success-element">
                                 Nombre Mensajero
                                     <span class="label label-success pull-right">Estado</span>

                             </li>
                             <li class="success-element">
                                 Nombre Mensajero
                                     <span class="label label-success pull-right">Estado</span>

                             </li>
                             <li class="success-element">
                                 Nombre Mensajero
                                     <span class="label label-success pull-right">Estado</span>

                             </li>

                         </ul>
             </div>
         </div>
     </div>-->

</div>                    