<style>
    .icon-input {
        color: #DF1008;
        background: transparent;
        border: 1px solid #DF1008;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        border-right: 0;
        font-size: 14px;
    }

    .input-register {
        border: 1px solid #DF1008;
        border-bottom-right-radius: 10px !important;
        border-top-right-radius: 10px !important;
        background-color: transparent;
        border-left: 0
    }
</style>
<div class="wrapper wrapper-content animated fadeIn">

    <div class="ibox float-e-margins">
        <div class="ibox-title radio-title">
            <div class="row">
                <div class="col-lg-4">
                    <table>
                        <tr>
                            <td>
                                <button class="btn btn-circle btn-lg btn-green" type="button"
                                        ng-click="vm.newMensajero()"><i class="fa fa-plus"></i>
                                </button>
                            </td>
                            <td><h1 style="margin-left:10px;font-size:22px;">Todos los Mensajeros</h1></td>
                        </tr>
                    </table>

                </div>

                <div class="col-lg-3">
                    <div class="input-group" style="margin-top:5px;">
                  <span class="input-group-btn">
                        <button type="button" class="btn btn-sm btn-buscador">
                        <i class="fa fa-search" style="color:#DF1008"></i>
                        </button> 
                        </span>
                        <input type="text" placeholder="Buscador" class="input-sm form-control buscador-domigo"
                               ng-model="filtro">

                    </div>
                </div>
                <div class="col-lg-5" style="text-align:right;">

                    <button class="btn" type="button"
                            ng-click="vm.cargarMensajerosActivos()"
                            style="border-radius:20px;color:#FFF;background-color:#558b2f">{{vm.mensajerosActivos}}
                        Activos
                    </button>
                    <button class="btn" type="button"
                            ng-click="vm.cargarMensajerosAusentes()"
                            style="border-radius:20px;color:#FFF;background-color:#ef6c00">{{vm.mensajerosAusentes}}
                        Ausentes
                    </button>
                    <button class="btn" type="button"
                            ng-click="vm.cargarMensajerosBloqueados()"
                            style="border-radius:20px;color:#FFF;background-color:#DF1008">{{vm.mensajerosBloqueados}}
                        Sancionados
                    </button>


                </div>

                <!--<div class="col-lg-2" style="text-align:center;color:#DF1008">-->
                <!--<i class="fa fa-star"></i>-->
                <!--MENSAJEROS<BR>-->
                <!--DESTACADOS-->
                <!--</div>-->


            </div>

            <div style="border:1px solid #DF1008;" class="col-lg-12"></div>

        </div>
        <div class="ibox-content radio-body" style="border-top:0 ">
            <div class="row">
                <div class="col-lg-12">
                    <div ng-if="vm.mensajeros.length <= 0" style="text-align:center">
                        <i class="material-icons" style="color:#e0e0e0;font-size:200px;">motorcycle</i><br>
                        <h2 style="font-size:24px;color:#e0e0e0;font-weight:600;">No se registran mensajeros en esta
                            sección</h2>
                    </div>
                    <div ng-if="vm.mensajeros.length > 0">
                        <table border="0" id="mensajerosTable" class="table table-hover" dt-options="vm.dtOptions"
                               style="font-weight:900;zoom:95%;">

                            <tr ng-repeat="mensajero in vm.mensajeros | filter: filtro | orderBy : 'nombre' ">
                                <td>
                                    <img ng-src="http://api.domigo.co/images/mensajeros/{{mensajero.fotografia}}"
                                         class="img-circle"
                                         width="50px;" height="50px">
                                </td>
                                <td width="10%;" style="vertical-align:middle;">{{mensajero.cedula}}</td>
                                <td style="font-size:14px;vertical-align: middle" width="20%;">{{mensajero.nombre}}
                                    {{mensajero.apellidos}}
                                </td>
                                <td style="vertical-align:middle;"><i class="material-icons pull-left"
                                                                      style="color:#DF1008;margin-right:5px">call</i>
                                    {{mensajero.telefono}}
                                </td>
                                <td style="vertical-align:middle;"><i class="material-icons pull-left"
                                                                      style="color:#DF1008;margin-right:5px">email</i>
                                    {{mensajero.email}}
                                </td>
                                <td width="15%" style="vertical-align:middle;"><i class="material-icons pull-left"
                                                                                  style="color:#DF1008;margin-right:5px">motorcycle</i>
                                    <span
                                            style="text-transform:uppercase"> {{mensajero.vehiculo}}</span></td>
                                <td style="zoom:80%;text-align: right;vertical-align: middle;" width="15%">
                                    <button class="btn btn-circle btn-lg btn-green" type="button"
                                            ng-click="vm.verMensajero(mensajero)"
                                            style="padding:0;background-color:#ef6c00 "><i class="fa fa-eye"></i>
                                    </button>
                                    <button class="btn btn-circle btn-lg btn-green" type="button"
                                            ng-click="vm.verMmensajero(mensajero)"
                                            style="padding:0;background-color:#558b2f "><i class="fa fa-pencil"></i>
                                    </button>
                                    <button class="btn btn-circle btn-lg btn-green" type="button"
                                            ng-click="vm.eliminarMensajero(mensajero)"
                                            style="padding:0;background-color:#DF1008 "><i class="fa fa-close"></i>
                                    </button>
                                </td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="newMensajero" class="modal inmodal in face" role="dialog">
    <div class="modal-dialog modal-lg" style="min-width:95%; zoom:90%;border-radius:20px;">
        <form name="mensajeroForm" novalidate>
            <div class="modal-content" style="border-radius:20px;">
                <div class="modal-header" style="padding:15px;text-align:left;background-color:#DF1008">
                    <button type="button" class="close" data-dismiss="modal">X</button>
                    <h3 style="font-weight:400;color:#FFF;">Registra los datos personales de tu mensajero</h3>
                </div>
                <div class="modal-body" style="border-radius:20px;">
                    <div class="row">
                        <div class="col-lg-6">
                            <table>
                                <tr>
                                    <td style="zoom:80%">
                                        <button class="btn btn-circle btn-lg " type="button"
                                                style="margin-top:5px;background-color:transparent;border:2px solid #B71C1C;">
                                            <i class="fa fa-star" style="color:#DF1008"></i>
                                        </button>
                                    </td>
                                    <td><h3 style="font-weight:400;color:#B71C1C;margin-top:15px;margin-left:10px;">
                                        Perfil</h3></td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-lg-2" style="text-align:center;">
                            <h3 style="font-weight:400;color:#B71C1C;margin-top:15px;margin-left:10px;">* Todos los
                                campos son obligatorios</h3>
                        </div>
                    </div>
                    <br>
                    <div class="row">

                        <div class="col-lg-3">

                            <label class="control-label"
                                   style="color:#DF1008;font-weight:700;font-size:14px">Cedula:</label>
                            <div class="input-group">

                                <span class="input-group-addon icon-input"><i class="fa fa-credit-card"></i></span>
                                <input ng-model="vm.mensajero.cedula" name="cedula" type="number" min="0"
                                       class="form-control input-register"
                                       required
                                >


                            </div>
                            <div class="messages"
                                 ng-show="mensajeroForm.$submitted || mensajeroForm.cedula.$touched">
                                <small ng-show="mensajeroForm.cedula.$error.required">El campo es obligatorio.</small>
                            </div>
                            <br>
                            <label style="color:#DF1008;font-weight:700;font-size:14px">Nombres:</label>
                            <div class="input-group">
                                <span class="input-group-addon icon-input"><i class="fa fa-user"></i></span>
                                <input name="nombres" ng-model="vm.mensajero.nombre" type="text"
                                       class="form-control input-register"
                                       required
                                >

                            </div>
                            <div class="messages"
                                 ng-show="mensajeroForm.$submitted || mensajeroForm.nombres.$touched">
                                <small ng-show="mensajeroForm.nombres.$error.required">El campo es obligatorio.</small>
                            </div>
                            <br>
                            <label style="color:#DF1008;font-weight:700;font-size:14px">Telefono:</label>
                            <div class="input-group">
                                <span class="input-group-addon icon-input"><i class="fa fa-mobile"></i></span>
                                <input name="telefono" ng-model="vm.mensajero.telefono" type="text"
                                       class="form-control input-register"
                                       required
                                >

                            </div>
                            <div class="messages"
                                 ng-show="mensajeroForm.$submitted || mensajeroForm.telefono.$touched">
                                <small ng-show="mensajeroForm.telefono.$error.required">El campo es obligatorio.</small>
                            </div>
                            <br>
                            <label style="color:#DF1008;font-weight:700;font-size:14px">Correo:</label>
                            <div class="input-group">
                                <span class="input-group-addon icon-input"><i class="fa fa-envelope"></i></span>
                                <input name="email" ng-model="vm.mensajero.email" type="email"
                                       class="form-control input-register"
                                       required ng-pattern="/^.+@.+\..+$/"
                                >

                            </div>
                            <div class="messages"
                                 ng-show="mensajeroForm.$submitted || mensajeroForm.email.$touched">
                                <small ng-show="mensajeroForm.email.$error.required">El campo es obligatorio.</small>
                                <small ng-show="mensajeroForm.email.$error.pattern">Formato de email incorrecto.</small>
                            </div>

                        </div>

                        <div class="col-lg-3">
                            <label style="color:#DF1008;font-weight:700;font-size:14px">Ciudad:</label>
                            <div class="input-group">
                                <span class="input-group-addon icon-input"><i class="fa fa-building"></i></span>
                                <input name="ciudad" ng-model="vm.mensajero.ciudad" type="text"
                                       class="form-control input-register"
                                       required
                                >

                            </div>
                            <div class="messages"
                                 ng-show="mensajeroForm.$submitted || mensajeroForm.ciudad.$touched">
                                <small ng-show="mensajeroForm.ciudad.$error.required">El campo es obligatorio.</small>
                            </div>
                            <br>
                            <label style="color:#DF1008;font-weight:700;font-size:14px">Apellidos:</label>
                            <div class="input-group">
                                <span class="input-group-addon icon-input"><i class="fa fa-user"></i></span>
                                <input name="apellidos" ng-model="vm.mensajero.apellidos" type="text"
                                       class="form-control input-register"
                                       required
                                >

                            </div>
                            <div class="messages"
                                 ng-show="mensajeroForm.$submitted || mensajeroForm.apellidos.$touched">
                                <small ng-show="mensajeroForm.apellidos.$error.required">El campo es obligatorio.
                                </small>
                            </div>
                            <br>
                            <div class="form-group col-lg-8">
                                <label style="color:#DF1008;font-weight:700;font-size:14px">Fecha de nacimiento:</label>
                                <br>
                                <input name="fnacimiento" ng-model="vm.mensajero.fecha_nacimiento" type="date"
                                       class="form-control"
                                       required
                                       style="border-radius:10px;border:1px solid #DF1008;background-color:transparent">
                                <div class="messages"
                                     ng-show="mensajeroForm.$submitted || mensajeroForm.fnacimiento.$touched">
                                    <small ng-show="mensajeroForm.fnacimiento.$error.required">El campo es
                                        obligatorio.
                                    </small>
                                </div>
                            </div>


                            <div class="form-group col-lg-4">
                                <label style="color:#DF1008;font-weight:700;font-size:14px">Sexo:</label>
                                <br>
                                <select name="sexo" ng-model="vm.mensajero.sexo" class="form-control"
                                        required
                                        style="border-radius:10px;border:1px solid #DF1008;background-color:transparent">
                                    <option value="M">M</option>
                                    <option value="F">F</option>
                                </select>
                                <div class="messages" ng-show="mensajeroForm.$submitted || mensajeroForm.sexo.$touched">
                                    <small ng-show="mensajeroForm.sexo.$error.required">El campo es obligatorio.</small>
                                </div>
                            </div>
                            <label style="color:#DF1008;font-weight:700;font-size:14px">Direccion:</label>
                            <div class="input-group">
                                <span class="input-group-addon icon-input"><i class="fa fa-location-arrow"></i></span>
                                <input name="direccion" ng-model="vm.mensajero.direccion" type="text"
                                       class="form-control input-register"
                                       required

                                >

                            </div>
                            <div class="messages"
                                 ng-show="mensajeroForm.$submitted || mensajeroForm.direccion.$touched">
                                <small ng-show="mensajeroForm.direccion.$error.required">El campo es obligatorio.
                                </small>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="input-group">
                                <label style="color:#DF1008;font-weight:700;font-size:14px">Barrio:</label>
                                <input name="barrio" ng-model="vm.mensajero.barrio" type="text" class="form-control"
                                       required
                                       style="border-radius:10px;border:1px solid #DF1008;background-color:transparent"
                                >
                                <div class="messages"
                                     ng-show="mensajeroForm.$submitted || mensajeroForm.barrio.$touched">
                                    <span ng-show="mensajeroForm.barrio.$error.required">El campo es obligatorio.</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="ibox-content text-center">
                                <div class="m-b-sm" id="image">
                                    <img id="imagenlogo" alt="image"
                                         class="img-circle"
                                         ng-src="http://api.domigo.co/images/mensajeros/{{vm.mensajero.fotografia}}"
                                         style="width: 200px; height: 200px;background-color:#DF1008 !important;"
                                    >
                                </div>
                                <div class="text-center">
                                    <div class="col-lg-12" style="border: none">
                                        <input id="files" uploader-model="vm.fotografia" type="file" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row" style="margin-bottom: 10px;margin-top: 10px;">
                        <div class="col-lg-6">
                            <table>
                                <tr>
                                    <td style="zoom:80%">
                                        <button class="btn btn-circle btn-lg " type="button"
                                                style="border:2px solid #B71C1C;background-color: transparent">
                                            <i class="fa fa-star" style="color:#DF1008"></i>
                                        </button>
                                    </td>
                                    <td><h3 style="font-weight:400;color:#B71C1C;margin-top:15px;margin-left:10px;">

                                        Licencia de Conducción</h3></td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-lg-2" style="text-align:center;">
                            <h3 style="font-weight:400;color:#B71C1C;margin-top:15px;margin-left:10px;">* Todos los
                                campos son obligatorios</h3>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-3">

                            <div class="form-group">
                                <label style="color:#DF1008;font-weight:700;font-size:14px">Fecha de exp. de la
                                    lic. de
                                    conduccion:
                                </label>
                                <br>
                                <input name="felicencia" ng-model="vm.mensajero.fecha_expedicion_licencia"
                                       type="date"
                                       class="form-control"
                                       style="border-radius:10px;border:1px solid #DF1008;background-color:transparent">
                                <!--<div class="messages"
                                     ng-show="mensajeroForm.$submitted || mensajeroForm.felicencia.$touched">
                                    <span ng-show="mensajeroForm.felicencia.$error.required">El campo es obligatorio.</span>
                                </div>-->
                            </div>

                            <div class="form-group">
                                <label style="color:#DF1008;font-weight:700;font-size:14px">Fecha de ven. de la
                                    lic. de conduccion:
                                </label>
                                <br>
                                <input name="fvlicencia" ng-model="vm.mensajero.fecha_vencimiento_licencia"
                                       type="date"
                                       class="form-control"
                                       style="border-radius:10px;border:1px solid #DF1008;background-color:transparent">
                                <!--<div class="messages"
                                     ng-show="mensajeroForm.$submitted || mensajeroForm.fvlicencia.$touched">
                                    <span ng-show="mensajeroForm.fvlicencia.$error.required">El campo es obligatorio.</span>
                                </div>-->
                            </div>
                        </div>
                        <div class="col-lg-3">

                            <div class="form-group">
                                <label style="color:#DF1008;font-weight:700;font-size:14px">Número de Licencia:</label>
                                <input name="nlicencia" ng-model="vm.mensajero.licencia_conducion" type="number"
                                       class="form-control"
                                       style="border-radius:10px;border:1px solid #DF1008;background-color:transparent"
                                >
                                <!--<div class="messages"
                                     ng-show="mensajeroForm.$submitted || mensajeroForm.nlicencia.$touched">
                                    <span ng-show="mensajeroForm.nlicencia.$error.required">El campo es obligatorio.</span>
                                </div>-->
                            </div>


                            <div class="form-group">
                                <label style="color:#DF1008;font-weight:700;font-size:14px">Placa del Vehiculo</label>
                                <input name="pvehiculo" ng-model="vm.mensajero.vehiculo" type="text"
                                       class="form-control "
                                       required
                                       style="border-radius:10px;border:1px solid #DF1008;background-color:transparent"

                                >
                                <div class="messages"
                                     ng-show="mensajeroForm.$submitted || mensajeroForm.pvehiculo.$touched">
                                    <span ng-show="mensajeroForm.pvehiculo.$error.required">El campo es obligatorio.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">

                            <div class="form-group">
                                <label style="color:#DF1008;font-weight:700;font-size:14px">Categoria de
                                    licencia:</label>
                                <br>
                                <select ng-model="vm.mensajero.licencia_tipo" class="form-control" name="clicencia"
                                        required
                                        style="border-radius: 10px; border:1px solid #DF1008;background-color:transparent">
                                    <option value="A1" title="Motos con cilindrada hasta de 125 c.c.">A1</option>
                                    <option value="A2"
                                            title="Motos, motociclos y mototriciclos con cilindrada mayor a 125 c.c.">
                                        A2
                                    </option>
                                    <option value="B1"
                                            title="Automóviles, motocarros, cuatrimotos, camperos, camionetas y microbuses.">
                                        B1
                                    </option>
                                    <option value="B2" title="Camiones rígidos, busetas y buses.">B2</option>
                                    <option value="B3" title="Vehículos articulados.">B3</option>
                                    <option value="C1"
                                            title="Para la conducción de automóviles, camperos, camionetas y microbuses.">
                                        C1
                                    </option>
                                    <option value="C2"
                                            title="Para la conducción de camiones rígidos, busetas y buses.">
                                        C2
                                    </option>
                                    <option value="C3" title="Para la conducción de vehículos articulados.">C3
                                    </option>
                                </select>
                                <div class="messages"
                                     ng-show="mensajeroForm.$submitted || mensajeroForm.clicencia.$touched">
                                    <span ng-show="mensajeroForm.clicencia.$error.required">El campo es obligatorio.</span>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-bottom: 10px;margin-top: 10px;">
                        <div class="col-lg-6">
                            <table>
                                <tr>
                                    <td style="zoom:80%">
                                        <button class="btn btn-circle btn-lg " type="button"
                                                style="border:2px solid #B71C1C;background-color: transparent">
                                            <i class="fa fa-star" style="color:#DF1008"></i>
                                        </button>
                                    </td>
                                    <td><h3 style="font-weight:400;color:#B71C1C;margin-top:15px;margin-left:10px;">

                                        Referencia personal</h3></td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-lg-2" style="text-align:center;">
                            <h3 style="font-weight:400;color:#B71C1C;margin-top:15px;margin-left:10px;">* Todos los
                                campos son obligatorios</h3>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label style="color:#DF1008;font-weight:700;font-size:14px">Nombre de la
                                    persona:</label>
                                <input name="nombre_referencia" ng-model="vm.mensajero.nombre_referencia" type="text"
                                       class="form-control"
                                       style="border-radius:10px;border:1px solid #DF1008;background-color:transparent"
                                       required>
                                <div class="messages"
                                     ng-show="mensajeroForm.$submitted || mensajeroForm.nombre_referencia.$touched">
                                    <span ng-show="mensajeroForm.nombre_referencia.$error.required">El campo es obligatorio.</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label style="color:#DF1008;font-weight:700;font-size:14px">Telefono</label>
                                <input name="telefono_referencia" ng-model="vm.mensajero.telefono_referencia"
                                       type="text"
                                       class="form-control "
                                       required
                                       style="border-radius:10px;border:1px solid #DF1008;background-color:transparent"

                                >
                                <div class="messages"
                                     ng-show="mensajeroForm.$submitted || mensajeroForm.telefono_referencia.$touched">
                                    <span ng-show="mensajeroForm.telefono_referencia.$error.required">El campo es obligatorio.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label style="color:#DF1008;font-weight:700;font-size:14px">Direccion:</label>
                                <input name="direccion_referencia" ng-model="vm.mensajero.direccion_referencia"
                                       type="text"
                                       class="form-control"
                                       style="border-radius:10px;border:1px solid #DF1008;background-color:transparent"
                                       required>
                                <div class="messages"
                                     ng-show="mensajeroForm.$submitted || mensajeroForm.direccion_referencia.$touched">
                                    <span ng-show="mensajeroForm.direccion_referencia.$error.required">El campo es obligatorio.</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-8" style="text-align:right;zoom:110%">
                            <input ng-show="vm.editMode" type="submit" class="btn "
                                   style="background-color:#64DD17;color:#FFF;font-weight:600;border-radius: 30px;"
                                   value="Registrar Mensajero" ng-click="vm.guardarMensajero();"
                                   ng-disabled="mensajeroForm.$invalid"/>

                            <input ng-hide="vm.editMode" type="submit" class="btn btn-primary "
                                   style="background-color:#689f38;color:#FFF;font-weight:600"
                                   value="Modificar Mensajero" ng-click="vm.modificarMensajero(vm.mensajero);"
                                   ng-disabled="mensajeroForm.$invalid"/>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<div id="verMensajero" class="modal inmodal in fade" role="dialog">
    <div class="modal-dialog modal-lg" style="min-width:95%;border-radius:20px;">

        <!-- Modal content-->
        <div class="modal-content" style="border-radius:20px;">
            <div class="modal-body" style="zoom:90%;background-color:#FFF;border-radius:20px;">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="widget-head-color-box bg-domigo p-lg text-center"
                             style="border-top-left-radius:20px;border-top-right-radius:20px">
                            <div class="m-b-md">
                                <h2 class="font-bold no-margins text-white">
                                    {{vm.mensajero.nombre}} {{vm.mensajero.apellidos}}
                                </h2>
                                <small class="text-white">Mensajero</small>
                            </div>
                            <div id="image">
                                <img style="height: 140px; width: 140px"
                                     ng-src="http://api.domigo.co/images/mensajeros/{{vm.mensajero.fotografia}}"
                                     class="img-circle  m-b-md"
                                     id="imagenlogo"
                                     alt="profile">
                            </div>
                            <div class="text-white">
                                <!--<span>Calificacion</span>-->
                                <!--<span>80%</span><br>-->
                                <div ng-if="vm.mensajero.condicion === 'ausente'" class="badge badge-danger">INACTIVO
                                </div>
                                <div ng-if="vm.mensajero.condicion === 'activo'" class="badge badge-primary">ACTIVO
                                </div>
                                <div ng-if="vm.mensajero.condicion === 'sancionado'" class="badge badge-warning">
                                    SANCIONADO
                                </div>
                            </div>
                            <div ng-if="vm.mensajero.enlista_negra === 1" class="badge badge-warning">
                                EN LISTA NEGRA
                            </div>
                        </div>
                        <div class="widget-text-box"
                             style="background-color:#e0e0e0;border-bottom-left-radius:20px;border-bottom-right-radius:20px">
                            <div class="row">
                                <div class="col-lg-6">
                                    ID: {{vm.mensajero.cedula}}
                                </div>
                                <div class="col-lg-6">
                                    <i class="material-icons" style="color:#DF1008;margin:0">call</i>
                                    {{vm.mensajero.telefono}}
                                </div>


                                <div class="col-lg-12" style="text-align:center"><i class="material-icons"
                                                                                    style="color:#DF1008;margin:0">email</i>
                                    {{vm.mensajero.email}}
                                </div>

                                <div class="col-lg-12" style="text-align:center;margin-top:10px;margin-bottom:20px;">
                                    {{vm.mensajero.direccion}}
                                </div>


                                <div class="col-lg-12" style="text-align:center"><span
                                        style="color:#FFF;background-color:#424242;font-weight:300; padding:10px;margin-top:10px;margin-bottom:10px">{{vm.mensajero.vehiculo}}</span>
                                </div>

                            </div>
                            <br><br>
                            <div class="center" style="text-align:center">

                                <button ng-if="vm.mensajero.condicion === 'sancionado'"
                                        ng-click="vm.desbloquearMensajero(vm.mensajero)" title="Quitar sancion"
                                        class="btn"
                                        type="button"
                                        style="margin-top:5px;margin-left:5px; border-radius:50%;width:40px;height:40px;background-color:#afb42b;">
                                    <i
                                            class="fa fa-check" style="color:#FFF"></i>
                                </button>

                                <!--<button ng-click="" title="Desactivar"-->
                                <!--class="btn"-->
                                <!--type="button"-->
                                <!--style="margin-top:5px;margin-left:5px; border-radius:50%;width:40px;height:40px;background-color:transparent;border:2px solid #b71c1c ">-->
                                <!--<i-->
                                <!--class="fa fa-exclamation" style="color:#b71c1c"></i>-->
                                <!--</button>-->

                                <button ng-if="vm.mensajero.condicion !== 'sancionado'"
                                        ng-click="vm.bloquearMensajero(vm.mensajero)" title="Sancionar"
                                        class="btn"
                                        type="button"
                                        style="margin-top:5px;margin-left:5px; border-radius:50%;width:40px;height:40px;background-color:transparent;border:2px solid #e65100">
                                    <i
                                            class="fa fa-minus" style="color:#e65100"></i>
                                </button>

                                <button ng-if="vm.mensajero.enlista_negra !== 1"
                                        ng-click="vm.addListaNegra(vm.mensajero)" title="Lista Negra"
                                        class="btn"
                                        type="button"
                                        style="margin-top:5px;margin-left:5px; border-radius:50%;width:40px;height:40px;background-color:transparent;border:2px solid #000">
                                    <i
                                            class="fa fa-close" style="color:#000"></i>
                                </button>

                                <!--<a ng-if="vm.mensajero.condicion == 'ausente'" class="btn btn-xs btn-success"
                                   style="text-transform:capitalize;"
                                   ng-click="">
                                    <i class="fa fa-unlock"> Activar</i>
                                </a>
                                <!--<a ng-if="vm.mensajero.condicion == 'activo'" class="btn btn-xs btn-primary"-->
                                <!--style="text-transform:capitalize;"-->
                                <!--ng-click="">-->
                                <!--<i class="fa fa-lock"> Inhabilitar</i>-->
                                <!--</a>-->
                                <!--  <a ng-if="vm.mensajero.condicion == 'sancionado'" class="btn btn-xs btn-success"
                                     style="text-transform:capitalize;"
                                     ng-click="vm.desbloquearMensajero(vm.mensajero)">
                                      <i class="fa fa-unlock"> Desbloquear</i>
                                  </a>
                                  <a ng-if="vm.mensajero.condicion != 'sancionado'" class="btn btn-xs btn-primary"
                                     style="text-transform:capitalize;"
                                     ng-click="vm.bloquearMensajero(vm.mensajero)">
                                      <i class="fa fa-legal"> Sancionar</i>
                                  </a>-->

                            </div>

                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="widget yellow-bg p-lg text-center" style="border-radius:20px;">
                                    <div class="m-b-md">
                                        <h1 style="color:#FFF;font-size:62px; font-weight:900">
                                            {{vm.mensajero.n_domicilios_exitosos}}</h1>
                                        <h3 class="font-bold no-margins">
                                            SERVICIOS EXITOSOS
                                        </h3>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="widget  p-lg text-center"
                                     style="background-color:#00695C;border-radius:20px;">
                                    <div class="m-b-md text-white">

                                        <h1 style="color:#FFF;font-size:62px; font-weight:900">
                                            {{vm.mensajero.n_domicilios_rechazados}}</h1>
                                        <h3 class="font-bold no-margins">
                                            SERVICIOS RECHAZADOS
                                        </h3>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">


                        <div class="row">
                            <div class="col-lg-6">
                                <h1>Historial de servicios</h1>
                            </div>
                            <div class="col-lg-6" style="text-align:right">
                                <table width="100%">
                                    <tr>
                                        <td>
                                            <div class="input-group" style="margin-top:25px;">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-sm btn-buscador">
                                                        <i class="fa fa-search" style="color:#DF1008"></i>
                                                    </button>
                                                </span>
                                                <input type="text" placeholder="Buscador"
                                                       class="input-sm form-control buscador-domigo"
                                                       ng-model="filtroDomicilios">
                                            </div>
                                        </td>

                                        <td style="text-align:right;padding-left:20px;">
                                            <h2 class="badge badge-primary"
                                                style="font-size:24px; margin-top:15px;background-color:#DF1008">
                                                {{vm.domicilios.length}}
                                            </h2>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="row col-lg-12 center">
                            <form name="formConsulta" novalidate>
                                <div class="col-lg-3">
                                    Desde:
                                    <div class="input-group" style="margin-top:5px;">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-sm btn-buscador">
                                                    <i class="fa fa-calendar" style="color:#DF1008"></i>
                                                </button>
                                            </span>
                                        <input type="date" class="input-sm form-control buscador-domigo"
                                               ng-model="vm.fechaInicio" required ng-change="vm.getHistorialRango()">
                                    </div>
                                </div>
                                <div class="col-lg-3" style="margin-left: 45px">
                                    Hasta:
                                    <div class="input-group" style="margin-top:5px; ">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-sm btn-buscador">
                                                    <i class="fa fa-calendar" style="color:#DF1008"></i>
                                                </button>
                                            </span>
                                        <input type="date" class="input-sm form-control buscador-domigo"
                                               ng-model="vm.fechaFinal" required ng-change="vm.getHistorialRango()">
                                    </div>
                                </div>
                                <div class="col-lg-1" style="margin-left: 50px">
                                    <button ng-disabled="formConsulta.$invalid" ng-click="vm.getHistorialRango()"
                                            class="btn btn-primary" style="margin-top:20px;"><i class="fa fa-search"></i></button>
                                </div>
                            </form>
                        </div>
                        <div ng-if="vm.domicilios.length > 0">
                            <table class="table table-striped">
                                <thead>
                                <th>Fecha de solicitud</th>
                                <th>Fecha de entrega</th>
                                <th>Origen</th>
                                <th>Destino</th>
                                <th>Tipo Servicio</th>
                                <th>estado</th>
                                </thead>
                                <tbody>
                                <tr ng-repeat="domicilio in vm.domicilios | filter : filtroDomicilios">
                                    <td>{{domicilio.fecha_hora_solicitud | date:'medium'}}</td>
                                    <td>{{domicilio.fecha_hora_entrega | date:'medium'}}</td>
                                    <td>{{domicilio.direccion_origen}}</td>
                                    <td>{{domicilio.direccion_destino}}</td>
                                    <td>{{domicilio.tipo}}</td>
                                    <td><span class="badge badge-primary bg-domigo">{{domicilio.estado}}</span></td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                        <div ng-if="vm.domicilios.length <= 0">
                            <table align="center" style="margin-top:40px;">
                                <tr>
                                    <td style="text-align:center">

                                        <i class="material-icons"
                                           style="font-size:120px;color:#E0E0E0;margin-left:40%">chat-bubble</i>

                                        <div style="font-size:24px;color:#e0e0e0;font-weight:600">
                                            Aun no se registran servicios en <br> las fechas seleccionadas <span
                                                style="color:#DF1008">:(</span>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
                <!--<button type="button" class="btn btn-primary" ng-click="registrarEmpresa();">Modificar</button>-->
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {

        $('#ui').css("background-color", "#e0e0e0");
        $("#page-wrapper").css("background-color", "#e0e0e0");
        function archivo(evt) {
            var files = evt.target.files; // FileList object

            //Obtenemos la imagen del campo "file".
            for (var i = 0, f; f = files[i]; i++) {
                //Solo admitimos imágenes.
                if (!f.type.match('image.*')) {
                    continue;
                }

                var reader = new FileReader();

                reader.onload = (function (theFile) {
                    return function (e) {
                        // Creamos la imagen.
                        //document.getElementById("image").innerHTML = ['<img class="thumb" style="width:100%" src="', e.target.result, '" title="', escape(theFile.name), '"/>'].join('');
                        document.getElementById('imagenlogo').src = e.target.result;
//                        document.getElementById("imagenlogo").innerHTML = ['<img class="center" style="width:300px; height: 300px; border-radius: 50%; position: absolute; left: 0; top: 0" src="', e.target.result, '" title="', escape(theFile.name), '"/>'].join('');
                    };
                })(f);
                reader.readAsDataURL(f);
            }
        }

        document.getElementById('files').addEventListener('change', archivo, false);

        $(':file').change(function () {
            //obtenemos un array con los datos del archivo
            var file = $("#files")[0].files[0];
            //obtenemos el nombre del archivo
            var fileName = file.name;
            //obtenemos la extensión del archivo
            //document.getElementById("nombreImagen").value=fileName;
            fileExtension = fileName.substring(fileName.lastIndexOf('.') + 1);
            //obtenemos el tamaño del archivo
            var fileSize = file.size;
            //obtenemos el tipo de archivo image/png ejemplo
            var fileType = file.type;

            $("#cambiar").show();
            //mensaje con la información del archivo
            // alert("<span class='info'>Archivo para subir: "+fileName+", peso total: "+fileSize+" bytes.</span>");
        });
    });
</script>