<div class="wrapper wrapper-content animated fadeIn">

    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Gestion de Pagos</h1>
                </div>
            </div>
        </div>
        <div class="ibox-content" style="border-top:0 ">
            <div class="row">
                <div class="col-lg-3">
                    <label>Buscar Mensajero:</label>
                    <div class="input-group">
                        <input type="text" placeholder="Nº de Documento" class="input-sm form-control buscador-domigo"
                               ng-model="vm.buscar">
                        <span class="input-group-btn">
                        <button ng-click="vm.cargarMensajero()" type="button" class="btn btn-sm btn-primary">
                        <i class="fa fa-search"></i>
                        </button> 
                        </span>
                    </div>
                    <br>
                    <h3>Nuevo Ingreso</h3><br>
                    <form name="pagosForm">
                        <div class="form-group">
                            <label class=" control-label">Fecha de pago</label><br>
                            <input ng-model="vm.mensajero.fecha_pago" type="date" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label class=" control-label">Valor</label><br>
                            <input ng-model="vm.mensajero.valor" type="number" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label class=" control-label">Concepto:</label><br>
                            <select ng-model="vm.mensajero.concepto" class="form-control" required>
                                <option value="0">Planilla</option>
                                <option value="1">Ahorro</option>
                                <option value="2">Prestamo</option>
                            </select>
                        </div>
                        <input ng-click="vm.guardarPago()" type="submit" class="btn btn-primary" value="Guardar Pago" ng-disabled="pagosForm.$invalid"/>
                    </form>
                </div>
            </div>
            <div class="row" ng-repeat="mensajero in vm.mensajero">
                <div class="col-lg-4">
                    <div class="widget style1 bg-domigo text-white">
                        <div class="row">
                            <div class="col-xs-4">
                                <img ng-src="http://localhost:1337/images/mensajeros/{{mensajero.fotografia}}" class="img-circle circle-border m-b-md"
                                     alt="profile" width="60px" height="60px" style="border:4px solid #FFF">
                            </div>
                            <div class="col-xs-8 text-right">
                                <span> {{mensajero.nombre}} {{mensajero.apellidos}} </span>
                                <h4>C.C: {{mensajero.cedula}}</h4>
                            </div>
                        </div>
                    </div>
                    <br>
                    <h3>Nuevo Ingreso</h3><br>
                    <form name="pagosForm">
                        <div class="form-group">
                            <label class=" control-label">Fecha de pago</label><br>
                            <input ng-model="vm.mensajero.fecha_pago" type="date" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label class=" control-label">Valor</label><br>
                            <input ng-model="vm.mensajero.valor" type="number" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label class=" control-label">Concepto:</label><br>
                            <select ng-model="vm.mensajero.concepto" class="form-control" required>
                                <option value="0">Planilla</option>
                                <option value="1">Ahorro</option>
                                <option value="2">Prestamo</option>
                            </select>
                        </div>
                        <input ng-click="vm.guardarPago()" type="submit" class="btn btn-primary" value="Guardar Pago" ng-disabled="pagosForm.$invalid"/>
                    </form>
                </div>
                <div class="col-lg-8">
                    <h3>Historial de pagos</h3>
                    <table class="table table-striped">
                        <thead>
                        <td>Id</td>
                        <th>fecha</th>
                        <th>Valor</th>
                        <th>Concepto</th>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>21-02-2016</td>
                            <td>30000</td>
                            <td><span class="badge badge-primary bg-domigo">Planilla</span></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>23-02-2016</td>
                            <td>10000</td>
                            <td><span class="badge badge-warning ">Ahorro</span></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>21-02-2016</td>
                            <td>30000</td>
                            <td><span class="badge badge-primary bg-domigo">Planilla</span></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>21-02-2016</td>
                            <td>30000</td>
                            <td><span class="badge badge-primary bg-domigo">Planilla</span></td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>02-02-2016</td>
                            <td>60000</td>
                            <td><span class="badge badge-success">Prestamo</span></td>
                        </tr>


                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

</div>
