<div class="wrapper wrapper-content animated fadeIn">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title radio-title">
                <div class="row">
                    <div class="col-lg-1"><br>
                        <a href="javascript:;" ui-sref="app.admin-centrales" style="color: black">
                            <i class="fa fa-arrow-left"></i> VOLVER
                        </a>
                    </div>
                    <div class="col-lg-8">
                        <h2>{{vm.nombreEmpresa}}: Mensajeros</h2>
                    </div>
                    <!--<div class="col-lg-4">
                        <br>
                        <table width="80%">
                            <tr>
                                <td width="10%"><h5>Activos</h5></td>
                                <td><span class="label label-success pull-left" style="margin-top: -6px;">{{vm.mensajerosActivos}}</span></td>

                                <td width="10%"><h5>Inactivos</h5></td>
                                <td><span class="label label-danger pull-left" style="margin-top: -6px;">{{vm.mensajerosInactivos}}</span></td>

                                <td width="10%"><h5>Total</h5></td>
                                <td><span class="label label-primary pull-left" style="margin-top: -6px;">{{vm.mensajerosActivos+vm.mensajerosInactivos}}</span></td>
                            </tr>
                        </table>
                    </div>-->
                    <div class="col-lg-3">
                      <div class="input-group">
                        <input type="text" placeholder="Buscador" class="input-sm form-control buscador-domigo" ng-model="filtro">
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-sm btn-primary">
                        <i class="fa fa-search"></i>
                        </button> 
                        </span>
                        </div>
                    </div>
                    <!--<div class="col-lg-2" style="text-align: right">-->
                    <!--<button type="button" class="btn btn-sm btn-primary" ng-click="vm.newMensajero()">-->
                    <!--<i class="fa fa-plus"></i> Mensajero-->
                    <!--</button>-->
                    <!--</div>-->

                </div>
                <div class="hr-line-dashed"></div>
            </div>
            <div class="ibox-content radio-body" style="border-top:0 ">
                <div class="row">
                    <div class="col-lg-12">
                        <table id="mensajerosTable" class="table" dt-options="vm.dtOptions">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Telefono</th>
                                <th>Email</th>
                                <th>Direccion</th>
                                <th>Opciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="mensajero in vm.mensajeros | filter: filtro">
                                <td>{{$index+1}}</td>
                                <td>{{mensajero.nombre}} {{mensajero.apellido}}</td>
                                <td>{{mensajero.telefonos[0]}}</td>
                                <td>{{mensajero.email}}</td>
                                <td>{{mensajero.direccion}}</td>
                                <td>
                                    <button ng-click="vm.verMensajero(mensajero)" type="button" class="btn btn-sm btn-success" title="Ver y Editar"><i
                                            class="fa fa-eye"></i></button>

                                    <!--<button type="button" class="btn btn-sm btn-primary" title="Desactivar"><i-->
                                            <!--class="fa fa-thumbs-down"></i></button>-->
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="newMensajero" class="modal inmodal in fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <i class="fa fa-child modal-icon"></i>
                    <h4 class="modal-title">Datos del Mensajero</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-4">

                            <div class="input-group">
                                <label>Nombre :</label>
                                <input type="text" ng-model="vm.mensajero.nombre" class="input-sm form-control">
                            </div>
                            <div class="input-group">
                                <label>Telefono:</label>
                                <input type="text" ng-model="vm.mensajero.telefono" class="input-sm form-control">
                            </div>


                            <div class="input-group">
                                <label>Direccion:</label>
                                <input type="text" ng-model="vm.mensajero.direccion" class="input-sm form-control">
                            </div>


                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary" ng-click="registrarEmpresa();">Registrar</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>