<div class="wrapper wrapper-content animated fadeIn">
  <!--  <div class="col-lg-2">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-success pull-right">Activas</span>
                        <h5>Empresas</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{vm.empresasActivas}}</h1>
                        <div class="stat-percent font-bold text-success">{{(vm.empresasActivas)/(vm.empresasActivas+vm.empresasInactivas)*100 | number: 0}}%</div>
                        <small></small>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-info pull-right">Inacti</span>
                        <h5>Empresas</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{vm.empresasInactivas}}</h1>
                        <div class="stat-percent font-bold text-info">{{(vm.empresasInactivas)/(vm.empresasActivas+vm.empresasInactivas)*100 | number: 0}}%</div>
                        <small></small>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-success pull-right">Acti</span>
                        <h5>Mensajeros</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{vm.mensajerosActivos}}</h1>
                        <div class="stat-percent font-bold text-success">{{(vm.mensajerosActivos)/(vm.mensajerosActivos+vm.mensajerosInactivos)*100 | number: 0}}%</div>
                        <small></small>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-info pull-right">Inacti</span>
                        <h5>Mensajeros</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{vm.mensajerosInactivos}}</h1>
                        <div class="stat-percent font-bold text-info">{{(vm.mensajerosInactivos)/(vm.mensajerosActivos+vm.mensajerosInactivos)*100 | number: 0}}%</div>
                        <small></small>
                    </div>
                </div>
            </div>

     </div>
    </div>-->

    <div class="col-lg-12">
        <div class="ibox float-e-margin">
            <div class="ibox-title radio-title">
                <div class="row">
                    <div class="col-lg-7">
                        <h2>Lista de Empresas</h2>
                    </div>
                    <div class="col-lg-3">
                        <div class="input-group">
                       <input type="text" placeholder="Buscador" class="input-sm form-control buscador-domigo" ng-model="filtro">
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-sm btn-primary">
                        <i class="fa fa-search"></i>
                        </button> 
                        </span>
                        </div>
                    </div>
                   <div class="col-lg-2" style="text-align: right">
                        <button type="button" class="btn btn-sm btn-primary" ng-click="vm.nuevaEmpresa()">
                            <i class="fa fa-plus"></i> Empresa
                        </button>
                    </div>
                </div>
                <!--<div class="hr-line-dashed"></div>-->
            </div>
            <div class="ibox-content radio-body" style="border-top:0 ">
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table"  dt-options="vm.dtOptions">
                            <thead>
                                <th>Nit</th>
                                <th>Nombre</th>
                                <th>Telefono</th>
                                <th>Ciudad</th>
                                <th>Direccion</th>
                                <th># Mensajeros</th>
                                <th>Opciones</th>
                            </thead>
                            <tbody>
                            <tr ng-repeat="empresa in vm.empresas | filter : filtro" >
                                <td>{{empresa.nit}}</td>
                                <td>{{empresa.nombre}}</td>
                                <td>{{empresa.telefonos[0]}}</td>
                                <td>{{empresa.ciudad}}</td>
                                <td>{{empresa.direccion}}</td>
                                <td style="text-align: center"><span class="label label-warning" style="font-size:12px">{{empresa.n_mensajeros}}</span></td>
                                <td>
                                    <button ng-click="vm.verEmpresa(empresa)" type="button" class="btn btn-sm btn-success"
                                            title="Ver y Editar"><i
                                            class="fa fa-eye"></i></button>
                                    <a class="btn btn-sm btn-danger" title="Ver Mensajeros"
                                       ui-sref="app.admin-centrales-mensajeros({ id:empresa.id, nombre:empresa.nombre })"><i class="fa fa-group"></i></a>
                                    <button ng-if="empresa.activa == false" type="button"
                                            class="btn btn-sm btn-primary" title="Activar"><i
                                            class="fa fa-thumbs-down"></i></button>
                                    <button ng-if="empresa.activa == true" type="button"
                                            class="btn btn-sm btn-warning" title="Desactivar"><i
                                            class="fa fa-thumbs-up"></i></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="newEmpresa" class="modal inmodal in fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <i class="fa fa-home modal-icon"></i>
                    <h4 class="modal-title">Registro de Empresas</h4>
                </div>
                <div class="modal-body">
                    <form name="empresaForm">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="input-group">
                                    <label>Nit:</label>
                                    <input type="text" ng-model="vm.empresa.nit" class="input-sm form-control" required>
                                </div>
                                <div class="input-group">
                                    <label>Nombre :</label>
                                    <input type="text" ng-model="vm.empresa.nombre" class="input-sm form-control" required>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="input-group">
                                    <label>Direccion:</label>
                                    <input type="text" ng-model="vm.empresa.direccion" class="input-sm form-control" required>
                                </div>
                                <div class="input-group">
                                    <label>Ciudad:</label>
                                    <select ng-model="vm.empresa.ciudad" class="input-sm form-control" required>
                                        <option></option>
                                        <option value="CODAZZI">CODAZZI</option>
                                        <option value="SAN DIEGO">SAN DIEGO</option>
                                        <option value="BECERRIL">BECERRIL</option>
                                        <option value="LA VICTORIA">LA VICTORIA</option>
                                        <option value="LA JAGUA DE IBIRICO">LA JAGUA DE IBIRICO</option>
                                        <option value="EL DESASTRE">EL DESASTRE</option>
                                        <option value="LOS BRASILES">LOS BRASILES</option>
                                        <option value="LLERASCA">LLERASCA</option>
                                        <option value="PAILITAS">PAILITAS</option>
                                        <option value="RINCON HONDO">RINCON HONDO</option>
                                        <option value="LA LOMA">LA LOMA</option>
                                        <option value="CHIRIGUANA">CHIRIGUANA</option>
                                        <option value="LA GLORIA">LA GLORIA</option>
                                        <option value="VALLEDUPAR">VALLEDUPAR</option>
                                        <option value="LA PAZ">LA PAZ</option>
                                        <option value="CURUMANI">CURUMANI</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="input-group">
                                    <label>Barrio:</label>
                                    <input type="text" ng-model="vm.empresa.barrio" class="input-sm form-control" required>
                                </div>
                                <div class="input-group">
                                    <label>Teléfono:</label>
                                    <input type="text" ng-model="vm.empresa.telefonos" class="input-sm form-control" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="input-group">
                                    <label>Horario de atención:</label>
                                    <input type="text" ng-model="vm.empresa.horario" class="input-sm form-control" required>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-if="vm.editMode != false">
                            <fieldset>
                                <legend style="text-align: center">Datos de usuario</legend>
                                <div class="col-lg-2">
                                    <p></p>
                                </div>
                                <div class="col-lg-4">
                                    <div class="input-group">
                                        <label>Nombre de usuario:</label>
                                        <input type="text" ng-model="vm.empresa.usuario.username"
                                               class="input-sm form-control" required>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="input-group">
                                        <label>Contrase&ntilde;a:</label>
                                        <input type="password" ng-model="vm.empresa.usuario.password"
                                               class="input-sm form-control" required>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">
                        Cerrar
                    </button>
                    <button ng-show="vm.editMode" type="button" class="btn btn-primary"
                            ng-click="vm.registrarEmpresa();" ng-disabled="!empresaForm.$valid">
                        Registrar
                    </button>
                    <button ng-hide="vm.editMode" type="button" class="btn btn-primary"
                            ng-click="vm.editarEmpresa();" ng-disabled="!empresaForm.$valid">
                        Modificar
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>